.title {
    position: relative; 
    left: 50%;
    width: 500px;
    font-size: 90px;
    color: #e6edf3;
}

.content-wrapper {
    align-content: center;
}

.background-video {
    position: fixed;
    top: 0px; 
    z-index: -10; 
}

.search-window {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none; 
    display: none; 
}

.search-bar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.photo {
    position: absolute;
    top: calc(50% - 100px);
    right: 55%;
    height: 200px;
    width: 200px;
    background-size: 200px;
    background-image: url("assets/icon-background.png");
    border-radius: 100px;
}

.about {
    position: absolute; 
    top: 0px; 
    right: 200px;
    max-width: 16%; 
}

.about-text {
    text-decoration: none !important;
    color: #e6edf3 !important;
}

.about-text:hover {
    text-decoration: underline !important;
}

body {
    color: black !important;
}

a {
    color:  #003b98 !important;
}

.tools-window {
    background-color: #c9c9c9ab !important;
}

.sidenav {
    background-color: #c9c9c9ab !important;
}

.navbar {
    color: #e6edf3 !important;
}